*{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    margin: 0;
}
.header{
    background-color: whitesmoke;
    border-bottom: 1px solid silver;
    text-align: center;
    color: rgb(34, 71, 106);
    padding: 5px;
}
.mail{
    // background-color: red;
    height: 100vh;

}
.mail-env{
    display: flex;
}
.mail_sidebar{
    width: 250px;
    background-color: rgb(224, 234, 243);
    height: calc(100vh - 65px) ;
    // display: inline-block;
    ul{
        padding: 10px;
        padding-top: 0;
        li{
            list-style: none;
            padding: 15px;
            text-align: center;
            &:not(.button):hover{
                background-color: rgba(255, 255, 255, 0.65);
            }
            a{
                text-decoration: none;
                div{
                    color: white ;
                    &.div-text{
                        text-align: left;
                        color: #696969;
                        font-size: 15px;

                        cursor: pointer;
                        &:hover{
                            color: slategray;
                        }
                    }
                }
            }
            div{
                &.btn-green{
                    background-color: green;
                    color: white;
                    transition: all .1s ease;
                    cursor: pointer;
                    border-radius: 3px;
                    color: white !important;
                    &:hover{
                        background-color: #007300
                    }
                    div{
                        display: inline-block
                    }
                    .btn-text{
                        padding: 10px;
                    }
                    .btn-icon{
                        float: right;
                        background-color: transparentize($color: #000000, $amount: .9);
                        height: 40px;
                        width: 44px;
                        line-height: 40px;
                    }
                }
                &.div-text{
                    text-align: left;
                    color: #696969;
                    font-size: 15px;
                    cursor: pointer;
                    &:hover{
                        color: slategray;
                    }
                }
            }
            border-bottom: 1px solid silver;
        }
    }
}
.mail_content{
    width: calc(100% - 250px);
    // display: inline-block
    .mail-header{
        display: flex;
        border: 1px solid #ebebeb;
        .mail-title{
            width: 20%;
            font-size: 20px;
            padding: 20px;
            color: slategrey;
        }
        .mail-form{
            width: 60%;
            padding: 20px;
            .address-form{
                display: inline-block;
                margin-right: 20px;
                #address_label{
                    background-color: #00bcd4;
                    padding: 7px;
                    color: white;
                    #address_list{
                        display: none;
                    }
                }
                .address-list-loader{
                    display: inline-block;
                }
            }
            .send-message{
                display: none;
                padding: 5px 20px;
                min-width: 200px;
                text-align: center;
                p{
                    margin: 0
                }
                &.success{
                    display: inline-block;
                    border: 2px solid rgb(51, 167, 27);
                    background-color: #e7ffde;
                }
                &.error{
                    display: inline-block;
                    border: 2px solid red;
                    background-color: #ffdede;
                }
                &.prog{
                    display: inline-block;
                    border: 2px solid rgb(0, 89, 255);
                    background-color: #dee5ff;
                }
                &.warning{
                    display: inline-block;
                    border: 2px solid rgb(255, 196, 0);
                    background-color: #fffdde;
                }
                
            }
        }
        .mail-links{
            width: 20%;
            .btn-blue{
                width: 100px;
                height: 40px;
                float: right;
                background-color: #03A9F4;
                color: white;
                transition: all .1s ease;
                cursor: pointer;
                border-radius: 3px;
                color: white !important;
                margin-top: 10px;
                &:hover{
                    background-color: #0398db
                }
                div{
                    display: inline-block
                }
                .btn-text{
                    padding: 10px;
                }
                .btn-icon{
                    float: right;
                    background-color: transparentize($color: #000000, $amount: .9);
                    height: 40px;
                    width: 34px;
                    line-height: 40px;
                    text-align: center;
                }
            }
        }
    }
    .mail-compose{
        padding: 20px;
        .form-group{
            position: relative;
            border-bottom: 1px solid #ebebeb;
            padding-bottom: 15px;
            label{
                position: absolute;
                left: 10px;
                top: 7px;
                z-index: 10;
            }
            input{
                border-color: transparent;
                position: relative;
                z-index: 5;
                padding-left: 100px;
                transition: all 300ms ease-in-out;
                &:focus{
                    background: #f9f9f9;
                    border-color: #f4f4f4;
                }
            }
            .compose-message-editor{
                padding-top: 5px;
                .wysihtml5-toolbar{
                    li:nth-child(3), li:nth-child(4), li:nth-child(5), li:nth-child(6){
                        display: none;
                    }
                }
                .wysihtml5-toolbar li {
                    margin-right: 8px !important;
                }
            }
        }
    }
    .checkBox {
      width: 20px;
      position: relative;
      margin: 10px auto;
      label {
        width: 20px;
        height: 20px;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        background: #fcfff4;
        border-radius: 2px;
        border: 1px solid #74bdf5;
        &:after {
          content: '';
          width: 12px;
          height: 12px;
          position: absolute;
          top: 3px;
          left: 3px;
          background: silver;
          opacity: 0;
        }
        &:hover::after {
          opacity: 0.5;
        }
      }
      input[type=checkbox] {
        visibility: hidden;
        &:checked + label:after {
          opacity: 1;
        }
      }    
    }
    .mail-table{
        margin-bottom: 0;
        background-color: transparent;
        thead{
            tr{
                th{
                    background: #ebebeb;
                    border: 0;
                    color: #666666;
                    vertical-align: middle;
                    border-bottom: 0;
                    .mail-select-options {
                        float: left;
                        padding-top: 5px;
                    }
                    .mail-pagination{
                        float: right;
                        span{
                            color: rgba(102, 102, 102, 0.5);
                        }
                        .btn-group{
                            margin-left: 5px;
                            a{
                                background-color: #FFF;
                                border-color: #FFF;
                                border-color: #ebebeb !important
                            }
                        }
                    }
                }
            }
        }
        tbody{
            tr{
                &.list{
                    border-bottom: 1px solid #ededed;
                }
                .col-time, .col-email{
                    color: slategrey;
                }
            }
        }
    }
}
.wysihtml5-editor{
    background-color: red;
}
.btn-mail{
    margin-left: 15px;
    width: auto;
    height: 40px;
    float: right;
    color: white;
    transition: all .1s ease;
    cursor: pointer;
    border-radius: 3px;
    color: white !important;
    margin-top: 10px;
    div{
        display: inline-block
    }
    .btn-text{
        padding: 10px;
    }
    .btn-icon{
        float: right;
        background-color: transparentize($color: #000000, $amount: .9);
        height: 40px;
        width: 34px;
        line-height: 40px;
        text-align: center;
    }
    &.blue{
        background-color: #03A9F4;
        &:hover{
            background-color: #0398db
        }
    }
    &.orange{
        background-color: rgb(245, 164, 58);
        &:hover{
            background-color: #dd963a
        }
    }
    &.success{
        background-color: rgb(73, 158, 37);
        &:hover{
            background-color: rgb(73, 158, 37);
        }
    }
    &.info{
        background-color: rgb(158, 118, 58);
        &:hover{
            background-color: rgb(158, 118, 58);
        }
    }
    &.fail{
        background-color: rgb(158, 37, 37);
        &:hover{
            background-color: rgb(158, 37, 37);
        }
    }
    &.disabled{
        cursor: not-allowed;
        background-color: silver !important;
        &:hover{
            background-color: silver !important;
        }
    }
}
.form-control{
    &:focus{
        box-shadow: none;
    }
}
.settings{
    .form-group{
        border-bottom: none !important;
        .static{
            position: static !important;
        }
    }
}
.checkbox {
    display: flex;
    div:nth-child(1){
        margin: 0 20px;
    }
}
.mail-footer{
    padding: 20px;
}
#cloak-file-input{
    background-color: #00bcd4;
    padding: 15px;
    color: white;
    cursor: pointer;
    display: inline-block;
}

#cloak-file-input input{
    display: none;
}
.asf-updater{
    display: inline-block;
    margin-left: 20px;
    font-size: 16px;
}
.switch {
    position: relative;
    margin: 0 !important;
    width: 100px;
    height: 35px;
    border: 2px solid slategrey;
    color: silver;
    font-size: 25px;
    border-radius: 10px;
  }
  
  .smtp {
    position: absolute;
    display: inline-block;
    width: 50%;
    height: 100%;
    line-height: 40px;
    margin: 0 !important;
    &:first-child label {
        border-radius: 7px 0 0 7px;;
    }
    &:last-child {
        left: 48px;
        top: 0;
        label {
            border-radius: 0 7px 7px 0;
        }
    }
    label {
        position: absolute;
        top: 0 !important;
        left: 0 !important;
        width: 100%;
        height: 100%;
        cursor: pointer;
        font-style: italic;
        text-align: center;
        transition: transform 0.4s, color 0.4s, background-color 0.4s;
        line-height: 30px;
        font-size: 16px;
    }
    input[type="radio"] {
        appearance: none;
        width: 0;
        height: 0;
        opacity: 0;
        &:focus{
            outline: 0;
            outline-offset: 0;
        }
        &:checked ~ label{
            background-color: silver;
            color: white;
            top: 0;
            left: 0;
        }
        &:active ~ label{
            transform: scale(1.05);
        }
    }
  }


  